body{
   margin: 0%;/*pas de marge extérieur*/
   padding: 0%;/*pas demarge intérieur*/
   background: antiquewhite;/*couleur de fond*/
   height: 80vh;/*hauteur du body*/
   display: flex;/*afficher un éléments comme un conteneur de niveau bloque*/
   align-items: center;/*positionnement des éléments au centre*/
   justify-content: center;/*positionnement des éléments au centre*/
   font-family: 'Abril Fatface', sans-serif; /*police*/
}

.texte{
    font-size: 80px;/*taille de la police*/
    cursor: pointer;/*effet de cuseur*/
}

.anim{
    animation: glow 1s ease-in-out infinite;/*définition de la couleur de  l'animation, le temps d'exécution*/
}

@keyframes glow{
    0%{
        text-shadow: 0 0 50px aqua;
    }
    25%{
        text-shadow: 0 0 50px chartreuse;
    }
    50%{
        text-shadow: 0 0 50px brown;
    }
    100%{
        text-shadow: 0 0 50px midnightblue;
    }
}